@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    font-family: "Work Sans", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-size: 1.5em;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    transition: 0.5s;
    letter-spacing: 2px;
}

button {
    transition: 0.5s;
}

button:hover {
    transition: 0.5s;
}